<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Вход</title>
	<link rel="stylesheet" href="styles/index.css">

</head>
<body class="body-auth">
	<main class="main-auth">
		<section class="main-form">
			<h1 class="main-header">Введите Имя и Пароль</h1>
			<form>

				<label class="label">
					<input type="text"  id="name" class="input input-mb" placeholder="Имя">
					<span class="text-warning">Не верное имя</span>
				</label>

				<label class="label">
					<input type="password" id="type" class="input" placeholder="Пароль">
					<span class="text-warning">Не верный пароль</span>
				</label>

				<button type="submit" class="button button-ui_firm"><span>Войти</span></button>
			</form>
		</section>
	</main>
</body>
</html>
