<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Управление базой данных</title>
	<link rel="stylesheet" href="styles/index.css">
</head>
<body>


	<main class="main">
		<div id="container" class="container">
			<h1 class="title-page">Список услуг</h1>
			<label>
				<select name="typeItem" id="typeItem">
					<option value="Все услуги">Все услуги</option>
					<option value="Потолок: Демонтажные работы">Потолок: Демонтажные работы</option>
					<option value="Потолок: Монтажные работы">Потолок: Монтажные работы</option>
					<option value="Стены: Демонтажные работы">Стены: Демонтажные работы</option>
				</select>
				выбрать тип
			</label>
			<div class="table__wrapper">
				<table id="table" class="table">
					<thead>
					<tr>
						<th class="table-th th-id">ID<span class="svg_ui"><svg class="icon-sort"><use xlink:href="./img/sprite.svg#sorting"></use></svg></span>
						</th>
						<th class="table-th th-type">Тип услуги<span class="svg_ui"><svg class="icon-sort"><use xlink:href="./img/sprite.svg#sorting"></use></svg></span>
						</th>
						<th class="table-th th-name">Виды работ<span class="svg_ui"><svg class="icon-sort"><use xlink:href="./img/sprite.svg#sorting"></use></svg></span>
						</th>
						<th class="table-th th-units">Еденицы измерения<span class="svg_ui"><svg class="icon-sort"><use xlink:href="./img/sprite.svg#sorting"></use></svg></span>
						</th>
						<th class="table-th th-cost">Цена за единицу</th>
						<th class="table-th th-handler">Действия</th>
					</tr>
					</thead>
					<tbody id="tbody" class="tbody">
					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Потолок: Демонтажные работы</td>
						<td class="table-name table__cell">
							Очистка потолка от побелки, краски, водоэмульсионки
						</td>
						<td class="table-units table__cell">
							м2
						</td>
						<td class="table-cost table__cell">
							130 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Потолок: Монтажные работы</td>
						<td class="table-name table__cell">
							Монтаж потолка "Armstrong"
						</td>
						<td class="table-units table__cell">
							м2
						</td>
						<td class="table-cost table__cell">
							300 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Стены: Монтажные работы</td>
						<td class="table-name table__cell">
							Устройство перегородки из ГКЛ
						</td>
						<td class="table-units table__cell">
							м2
						</td>
						<td class="table-cost table__cell">
							450 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Стена: Демонтажные работы</td>
						<td class="table-name table__cell">
							Демонтаж стен (в кирпич)
						</td>
						<td class="table-units table__cell">
							м2
						</td>
						<td class="table-cost table__cell">
							600 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Муж на час</td>
						<td class="table-name table__cell">
							Навес сушилки для белья
						</td>
						<td class="table-units table__cell">
							шт
						</td>
						<td class="table-cost table__cell">
							300 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					<tr class="table__row">
						<td class="table__id table__cell">1614040106349</td>
						<td class="table-type table__cell">Электромонтажные работы</td>
						<td class="table-name table__cell">
							Демонтаж люстры
						</td>
						<td class="table-units table__cell">
							шт
						</td>
						<td class="table-cost table__cell">
							200 руб
						</td>
						<td>
							<div class="table__actions table__cell">
								<button class="button action-change"><span class="svg_ui"><svg class="action-icon_change"><use xlink:href="./img/sprite.svg#change"></use></svg></span><span>Изменить</span>
								</button>
								<button class="button action-remove"><span class="svg_ui"><svg class="action-icon_remove"><use xlink:href="./img/sprite.svg#remove"></use></svg></span><span>Удалить</span>
								</button>
							</div>
						</td>
					</tr>

					</tbody>
				</table>
			</div>
			<button class="button btn-addItem">
				<span class="svg_ui">
					<svg class="icon-btn-addItem">
						<use xlink:href="./img/sprite.svg#plus"></use>
					</svg>
				</span><span>Добавить Услугу</span>
			</button>
		</div>
	</main>

	<div class="modal__overlay" id="modal">
		<div class="modal">
			<button class="button button__close">
			<span class="svg_ui">
				<svg class="icon__close">
					<use xlink:href="./img/sprite.svg#close_modal"></use>
				</svg>
			</span>
			</button>
			<h3 class="modal__header">Добавение новой услуги</h3>
			<!--<h3 class="modal__header">Изменение услуги</h3>-->
			<form>
				<label class="label">
					<input id="type" class="input input__type" placeholder="Тип услуги*">
				</label>

				<label class="label">
					<input id="name" class="input input__name" placeholder="Виды работ*">
				</label>

				<label class="label">
					<input id="units" class="input input__units" placeholder="Единицы измерения*">
				</label>

				<label class="label">
					<input id="cost" class="input input__cost" placeholder="Цена*">
				</label>

				<button class="button button-ui_firm"><span>Сохранить</span></button>
				<button class="button cancel-button"><span>Отмена</span></button>
			</form>
		</div>
	</div>
</body>
</html>
